@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');
body {
    background-color: #F1EBDA;
}

p {
    font-size: 20px;
}
.main {
    width: 50%;
    margin: 100px auto;
    min-height: 400px;
    padding: 30px 0 30px 0;
    background-color: #Fafafa;
    box-shadow: 7px 6px 18px 5px #B0B0B0;
    
}

h1 {
    margin-bottom: 50px;
    font-family: 'Reenie Beanie', cursive;
}

ul {
    padding-left: 0;
    list-style: none;
}

.trip-form-main {
    width: 80%;
    margin: 0 32px;
}
