@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');
body {
}

p {
    font-size: 20px;
}
.main {
    width: 60%;
    margin: 200px auto;
    min-height: 400px;
    padding: 30px;
    background-color: #Fafafa;
    box-shadow: 7px 6px 18px 5px #B0B0B0;
    
}

h1 {
    margin-bottom: 50px;
    font-family: 'Reenie Beanie', cursive;
}

ul {
    padding-left: 0;
    list-style: none;
}

.trip-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
}

.btn {
    margin-top: 16px;
}
